/* Default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #36454F;
    color: white;
}

/* Hero Section Styles */
#hero {
    background-image: url('../images/hero_image.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 50px;
    height: 50vh;
}